@model FirstWebApplication.Entities.Game
@{
    ViewBag.Title = "Create a new Game";
}

<h2>Create a New Game</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Game</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
 
        <div class="editor-label">
            @Html.LabelFor(model => model.RealeseDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RealeseDate)
            @Html.ValidationMessageFor(model => model.RealeseDate)
        </div>
         
        @{
            var categories = new List<SelectListItem> { 
                new SelectListItem { Text = "remake", Value = "remake" },
                new SelectListItem { Text = "space", Value = "space" },
                new SelectListItem { Text = "shooter", Value = "shooter" }
            };
        }
 
        <div class="editor-label">
            @Html.LabelFor(model => model.Categories)
        </div>
        <div class="editor-field">
            @Html.ListBoxFor(model => model.Categories, categories)
            @Html.ValidationMessageFor(model => model.RealeseDate)
        </div>
 
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
 
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
 
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

